<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">
    <!--spring的过滤器链的配置-->
    <security:http>
        <!--
        拦截的url


        permitAll()  允许所有人登陆
        isAnonymous()  必须是匿名用户才能访问，登陆了用户不能访问
        -->
        <security:intercept-url pattern="/product/index" access="permitAll()"/>
        <security:intercept-url pattern="/userLogin" access="permitAll()"/>
        <security:intercept-url pattern="/product/add" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/product/update" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/product/list" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/product/delete" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>

        <!--方式一 http-basic 的认证-->
        <!--<security:http-basic></security:http-basic>-->
        <!--方式二 form-login 的认证-->
        <!--login-processing-url  登陆的请求地址-->
        <security:form-login login-page="/userLogin"
                             login-processing-url="/securityLogin"
                             default-target-url="/product/index"
                             authentication-success-handler-ref="myAuthenticationSuccessHandler"
                             authentication-failure-handler-ref="myAuthenticationFailureHandler"/>
        <!--关闭csrf-->
        <security:csrf disabled="true"/>
        <!--自定义权限不足-->
        <security:access-denied-handler error-page="/error"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="myUserDetailService">
            <!--<security:user-service>-->
            <!--<security:user name="zl" password="zl" authorities="ROLE_USER"/>-->
            <!--<security:user name="gzx" password="gzx" authorities="ROLE_ADMIN"/>-->
            <!--</security:user-service>-->
        </security:authentication-provider>

    </security:authentication-manager>

    <bean id="myUserDetailService" class="com.zl.security.MyUserDetailService"></bean>
    <!--自定义的登陆-->
    <bean id="myAuthenticationSuccessHandler" class="com.zl.security.MyAuthenticationSuccessHandler"></bean>
    <!--自定义登陆失败的-->
    <bean id="myAuthenticationFailureHandler" class="com.zl.security.MyAuthenticationFailureHandler"></bean>


</beans>